.btn-color{
    color: rgb(0, 0, 0);
    background-color: aquamarine;
}

.shop-container{
    display: grid;
    gap: 20px;
    grid-template-columns: 4fr 1fr;
}
.card-container{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media screen and (max-width: 500px){
    .shop-container{
        display: block;
        order: 2;
    }
    .cart-container{
        order: 0;
        margin: 10px ;
    }
}
    
