.fixed-cart{
    position: sticky;
    top: 80px;
}
.cart-item{
    background: linear-gradient(to right, #fee0e2 0%,#00000063 100%);
    border-radius: 10px;
}
.card-img{
    width: 80px;
    height: 65px;
    object-fit: cover;
}
